<!-- FORMULARIO AGREGAR CONTACTO -->
<div class="mt-4">
  <form class="" action="/add_contacto" method="POST">
    <div class="container">
      <div class="col mt-3">
        <label class="form-label col-5" for="fullname"> Insert your fullname </label>
        <input class="form-control" type="text" name="fullname" id="fullname" required>
      </div>

      <div class="mt-3">
        <label class="form-label" for="email"> Insert your E-mail </label>
        <input class="form-control" type="email" name="email" id="email" required>
      </div>

      <div class="mt-3">
        <label class="form-label" for="phone"> Insert your Phone </label>
        <input class="form-control" type="text" name="phone" id="phone" required>
      </div>
      <button class="btn btn-primary mt-4" style="width:125px;" type="submit" name="button"> Agregar </button>
    </div>
  </form>
</div>
